* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}
.container {
    border: 5px solid black;
}
.cell {
    padding: 2rem;
    background-color: #dedede;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 3px solid red;
    color: white;
}
.cell-1 {
    background-color: #581f18;
}
.cell-2 {
    background-color: #f0a202;
}
.cell-3 {
    background-color: #d95d39;
}
.cell-4 {
    background-color: #202c59;
}
.cell-5 {
    background-color: #51cb20;
}

/* sintaxe basica */
.container {
    margin: 7rem;
    display: grid;
    padding: 1rem;
    margin: 1rem;
    grid-template-columns: auto [start] repeat(10, 100px) [end] auto;
    grid-template-rows: repeat(2, 300px);
    gap: 1rem;
}
/* end of sintaxe basica */