* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}
.container {
    border: 5px solid black;
}
.cell {
    padding: 2rem;
    background-color: #dedede;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 3px solid red;
    color: white;
}
.cell-1 {
    background-color: #581f18;
}
.cell-2 {
    background-color: #f0a202;
}
.cell-3 {
    background-color: #d95d39;
}
.cell-4 {
    background-color: #202c59;
}
.cell-5 {
    background-color: #51cb20;
}

/* sintaxe basica */
.container {
    margin: 7rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: [start] 100px [col-1-end] 100px [col-2-end] 100px [end];
    grid-template-rows: [start] 100px [row-1-end] 100px [row-2-end] 100px [end];
    gap: 1rem;
}
.cell-1 {
    grid-column: start/col-2-end;
    grid-row: start/row-2-end;
}
/* end of sintaxe basica */