/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');
/* Fonts */

/* Variables */
:root {
    --color-primary: #678e3e;
    --color-primary-light: #beed8c;
    --color-grey-1: #102a42;
    --color-grey-5: #617d98;
    --color-grey-10: #f1f5f8;
    --color-white: #fff;
    --font-family-primary: "Catamaran", sans-serif;
    --font-family-secondary: "Grand Hotel";
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}
/* Variables */

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family-primary);
    background-color: var(--color-white);
    color: var(--color-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
h1, h2, h3, h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1, h2, h3, h4 {
        line-height: 1;
    }
}
/* Global */

/* More Global */
.btn {
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}
.clearfix::after, .clearfix::before {
    content: '';
    clear: both;
    display: table;
}
.section-title h3 {
    font-family: var(--font-family-secondary);
    color: var(--color-primary);
}
.section-title {
    margin-bottom: 2rem;
}
.section-center {
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
        padding: 4rem 1rem;
    }
}
/* More Global */

/* Header */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url("../images/main-bcg.jpeg") center/cover no-repeat fixed;
    position: relative;
    /* animation */
    overflow: hidden;
    /* animation */
}
.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.banner h2 {
    font-family: var(--font-family-secondary);
    color: var(--color-primary);
    /* animation */

    /* animation */
}
.banner h1 {
    text-transform: uppercase;
    color: var(--color-white);
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    /* animation */

    /* animation */
}
.banner-btn {
    outline: 0.125rem solid var(--color-primary);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
}
/* Header */

/* Content Divider */
.content-divider {
    height: 0.5rem;
    background: linear-gradient(to left, var( --color-primary ), #e9b949, var( --color-primary) );
}
/* Content Divider */

/* skills section */
.skills {
    background-color: var(--color-grey-10);
}
.skill {
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    display: inline-block;
    color: var(--color-primary);
}
.skill-text {
    color: var(--color-grey-5);
    max-width: 17rem;
    margin: 0 auto;
}
.skill:hover {
    background-color: var(--color-white);
    box-shadow: 0 3px var(--color-primary);
}
.skill:hover .skill-icon {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
@media screen and (min-width: 576px) {
    .skill {
        float: left;
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .skill {
        width: 25%;
    }
}
/* skills section */

/* about section */
.about-img, .about-info {
    padding: 2rem 0;
}
.about-picture-container {
    background-color: var(--color-primary);
    border: 0.5rem solid var(--color-primary);
    max-width: 40rem;
    margin: 0 auto;
    /* extra stuff */
    overflow: hidden;
}
.about-picture {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.about-picture-container:hover .about-picture {
    opacity: 0.5;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.about-text {
    max-width: 26rem;
    color: var(--color-grey-5);
}
@media screen and (min-width: 992px) {
    .about-img, .about-info {
        float: left;
        width: 50%;
    }
    .about-info {
        padding-left: 5vw
    }
}
/* about section */

/* products section */
.products {
    background-color: var(--color-grey-10);
}
.products article {
    padding: 2rem 0;
}
.product-text {
    color: var(--color-grey-5);
    max-width: 26rem;
}
.product {
    margin-bottom: 2rem;
}
.product-img {
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    margin-bottom: 2rem;
    /* height: 17rem; */ /*MELHOR SEM (ANDRÉ) */ 
    object-fit: cover;
}
.product-price {
    color: var(--color-primary);
}
@media screen and (min-width: 768px) {
    .product {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .product {
        width: 33.333333%;
    }
}
@media screen and (min-width: 1200px) {
    .products-info {
        float: left;
        width: calc(30% - 2rem);
        margin-right: 2rem;
    }
    .products-inventory {
        float: left;
        width: 70%;
    }
}
/* products section */

/* services section */
.services-title {
    margin-top: 4rem;
    margin-bottom: -4rem;
    text-align: center;
}
.service-card {
    margin: 2rem 0;
    background-color: var(--color-grey-10);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.service-card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.service-img {
    object-fit: cover;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 2;
}
.service-info {
    text-align: center;
    padding: 3rem 1rem 2.5rem 1rem;
}
.service-info p {
    max-width: 20rem;
    color: var(--color-grey-5);
    margin: 0 auto;
}
.service-btn {
    font-size: 0.75rem;
    text-transform: capitalize;
    padding: 0.375rem 0.5rem;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
    .service-card {
        float: left;
        width: 45%;
        margin-right: 5%;
        /* 100% 45% 90% 5% */
    }
}
@media screen and (min-width: 992px) {
    .service-card {
        width: 30%;
        margin-right: 3.3333%;
        /* 100% 30% 3.3333% */
    }
}
.service-info {
    position: relative;
}
.service-icon {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 3;
    font-size: 2rem;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    padding: 0.25rem 0.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 0.375rem solid var(--color-grey-10);
}
/* services section */